.sidenav .brand-logo {
    width: 100%;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/logo.png);
    margin: 30px 0;
}


.carousel-item{
	border-style: solid;
	height: 250px;
}

#map {
  height: 600px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}



#map-contact {
  height: 230px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.centrador {
    width: auto;
    height: auto;
}

#imagen {
    object-fit: contain;
    height: 300px;
    object-position: center;
}

.item i {
    position: relative;
    float: left;
    width: 64px;
    height: 64px;
    line-height: 64px;
    margin-left: calc(50% - 32px);
    margin-bottom: 20px;
    box-shadow: 0px 9px 30px 4px rgba(143,155,166,0.25);
    border-radius: 32px;
    font-size: 2.3em;
    font-weight: 100;
    text-align: center;
}

.vivienda{
	margin-bottom: 20px; 
	padding: 0 20px;
    height: 250px;
}

      .l-bord{
				padding-left: 20px;
         border-right: 1px solid #ccc;
      }

.redes ul li{
  display: inline-block;
  list-style: none;
  margin: 5px;	
}

